body {
  background-color: #202020;
  color: whitesmoke;
}

.navbar {
  background-color: #404040;
  padding: 5px 0;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: aquamarine;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #303030;
  padding: 20px 0;
}

.card {
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  color: black;
}
